
body{
	background:black;
	font:80% Arial, Helvetic, Sans-Serif;
	color:#555;
	line-height: 180%;
	margin:0;
	padding:0;
	text-align:center;
}

h1{
	color: white;
}

h2{
	color: white;
	font-weight:normal;
	margin:1em 0;
	font-size:160%;
}

h3{
	color: white;
}
td{
	color: white;
}

p{
	margin:1em 0;
	color: white;
}
p.clear{
	clear:left;
}
form{
	color:#FFFFFF;
	background:black;
	clear:left;
	padding-top: 25px;
}
nav{
background:black;
}
/*ID*/
#container{
	margin:0 auto;
	width:700px;
	background: black
}
#container2{
	border:2px solid #FFFFFF;
	margin:0;
	width:700px;
	background: black
}

#header{
	height:50px;

}

#content{
	background:black;
	padding:.5em 34px;
	margin-left:auto;
	margin-right:auto;
}

.levitate{
	float:left;
}
.clearTheFloor{
	clear: left;
}


#smaller{
	height: 250px;
	width:400px;
	border:2px Solid #FFFFFF;
}
#Row1{
	color:black; 
	background:white;
}
#Row2{
	background: 
}
#QBowing{
	width:500px;
	height:500px;
}
#biteSized{
	width:300px;
	height:300px;
	border: 5px groove #FFFFFF;
}
#leftSized{
	width:500px;
	height:500px;
	float:left;
}
#rightSized{
	width:500px;
	height:500px;
	float:Right;
}
/*Classes*/
#Gallery{
	border: 5px groove #FFFFFF;
	width:400px;
	height:400px;
	margin: 10px;
}
#GalleryLong{
	width:370px;
	height:270px;
	padding: 10px;
	border: 5px groove #FFFFFF;
}
.imgdown{
    width: 50vw;
	padding:10px;
	max-width: 700px;
	max-height:500px;
}
.logger{
	color: yellow;
}
.link {
	color: #deb9fa;
}
.smLink {
	color: #d10081;
}
.small{
	height:50px;
	width:50px;
}

.viewwidth{
    width: 70vw;
}
.viewwidth2{
	margin-left:auto;
	margin-right:auto;
    width: 100vw;
	max-width: 700px
}
.webpageLogoContainer img{
	height: 300px;
	width:700px;
	object-fit:contain;
}

.listBorder{
	margin-left:auto;
	margin-right:auto;
	border:2px solid #FFFFFF;
	text-align:center;
}
.centerList{
	text-align:center;
}
.centered{
	margin-left:auto;
	margin-right:auto;
}
/*Bootstrap code*/
.fa-1x {
	font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
	cursor: pointer;
}

.dark-blue-text {
	color: #0A38F5;
}

.dark-pink-text {
	color: #AC003A;
}

.dark-amber-text {
	color: #ff6f00;
}

.dark-teal-text {
	color: #004d40;
}
.navbar-toggler-icons{
}
.navbar{
	color: black;
}
.nav-link{
	color: #deb9fa;
}

.container-fluid{
background: black;
}
